.background-image{
    height: 170vh;
    width: 100%;
    background-image: url(../img/Object.png);
    background-size:cover;
    background-position:top;  
}

.logo {
   padding-left: 8vw;
   padding-top: 7vh; 
  
}

li {
    float:right;
    margin: 3vh;
    position:relative;
    bottom: 10vh;
    right:10vh;
    color:white;
    text-decoration: none;
    font-weight: bold;
}


.first-a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-top: 15vh;
    padding-left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: clear;
}

h1{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 500%;
    position: relative;
    right: 50%;
    transition: transform 5s ease 0s;
    transform: translateX(100px);
}


.smiles{
    margin: 1%;
    position: relative;
    bottom: 9vh;
    right: 4vw;
}
.smiles:hover{
    background-color: #C471FF;
border-bottom: 3px solid white;
}

.button-1{
    position: relative;
    right: 4vw;
    border-radius: 20%;
    width: 15vw;
    height: 10vh;
    background-color: #C471FF;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    transition: transform 6s ease 0s; 
    transform: translateY(-45px); 
}

.button-1:hover{
    background-color: #9516f0;
    width: 16vw;
    height: 11vh;

}

.h-1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 20vh;
    right: 10vh;
}

.span-1{
    color: #C471FF;
}

.container-2{
    font-weight: 400;
    margin-left: 10vw;
    padding-top: 5vh;
}
.img-1 {
    float: left;
    position: relative;
    right: 38vw;
    font-weight: normal !important;
    padding-right: 1vw;
    text-align: center;
}

.img-3 {
    float: left;
    position: relative;
    right: 33vw;
    text-align: center;
}

.img-2 {
    float: left;
    position: relative;
    right: 28vw;
    text-align: center;
}

.image2 {
    border-radius: 50%;
}

.img-4{
    float: left;
    position: relative;
    left: 15vw;
    bottom: 41vh;
    text-align: center;
}



