body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: sans-serif;
  font-weight: 400;
}

.class-1 {
    background-color: rgb(255, 4, 4);
    width: 100%;
    height: 40px;
    color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}


